<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.bitwin.pavilion">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">

        <!-- The main activity. -->
        <activity
            android:name="PavilionActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen"
            android:launchMode="singleTask"
            android:stateNotNeeded="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- The activity showing a list of installed apks. -->
        <activity
            android:name="AppsListActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>

    </application>

</manifest>
